---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/oncalls?include%5B%5D=users&limit=200
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token=[PAGERDUTY_TOKEN]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"050356320376fed606189aa1f35f171f"'
    body:
      encoding: ASCII-8BIT
      string: '{"oncalls":[{"escalation_policy":{"id":"P9OFD2O","type":"escalation_policy_reference","summary":"Default","self":"https://api.pagerduty.com/escalation_policies/P9OFD2O","html_url":"https://apidocs.pagerduty.com/escalation_policies/P9OFD2O"},"escalation_level":1,"schedule":null,"user":{"name":"John
        Doe","email":"john.doe@example.com","time_zone":"America/Los_Angeles","color":"purple","avatar_url":"https://secure.gravatar.com/avatar/8eb1b522f60d11fa897de1dc6351b7e8.png?d=mm&r=PG","billed":true,"role":"owner","description":null,"invitation_sent":false,"job_title":null,"teams":[],"contact_methods":[{"id":"P1NJL34","type":"email_contact_method_reference","summary":"Default","self":"https://api.pagerduty.com/users/PPC00ZX/contact_methods/P1NJL34","html_url":null}],"notification_rules":[{"id":"P29AUSK","type":"assignment_notification_rule_reference","summary":"0
        minutes: channel P1NJL34","self":"https://api.pagerduty.com/users/PPC00ZX/notification_rules/P29AUSK","html_url":null},{"id":"PQ4XWX0","type":"assignment_notification_rule_reference","summary":"0
        minutes: channel P1NJL34","self":"https://api.pagerduty.com/users/PPC00ZX/notification_rules/PQ4XWX0","html_url":null}],"coordinated_incidents":[],"id":"PPC00ZX","type":"user","summary":"John
        Doe","self":"https://api.pagerduty.com/users/PPC00ZX","html_url":"https://apidocs.pagerduty.com/users/PPC00ZX"},"start":null,"end":null},{"escalation_policy":{"id":"P2EQYW3","type":"escalation_policy_reference","summary":"Escalation
        Policy accusamus eveniet ea","self":"https://api.pagerduty.com/escalation_policies/P2EQYW3","html_url":"https://apidocs.pagerduty.com/escalation_policies/P2EQYW3"},"escalation_level":1,"schedule":null,"user":{"name":"Ola
        Schoen","email":"ola.schoen@example.com","time_zone":"America/Los_Angeles","color":"dark-slate-grey","avatar_url":"https://secure.gravatar.com/avatar/09db3e8fca0[...]
- request:
    method: get
    uri: https://api.pagerduty.com/oncalls?include%5B%5D=users&limit=200
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token=fake_token
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Wed, 10 Apr 2019 21:59:08 GMT
recorded_with: VCR 4.0.0
