---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/services
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token=[PAGERDUTY_TOKEN]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"e1e17208c7bcae956ab34aeddd2a07a2"'
    body:
      encoding: ASCII-8BIT
      string: '{"services":[{"id":"PC8O0L3","name":"Service a eaque non","description":"Monitored
        mission-critical concept","auto_resolve_timeout":14400,"acknowledgement_timeout":1800,"created_at":"2017-04-07T10:18:06-07:00","status":"active","last_incident_timestamp":null,"teams":[],"incident_urgency_rule":{"type":"constant","urgency":"high"},"scheduled_actions":[],"support_hours":null,"escalation_policy":{"id":"P9OFD2O","type":"escalation_policy_reference","summary":"Default","self":"https://api.pagerduty.com/escalation_policies/P9OFD2O","html_url":"https://apidocs.pagerduty.com/escalation_policies/P9OFD2O"},"addons":[],"alert_creation":"create_incidents","alert_grouping":null,"alert_grouping_timeout":null,"integrations":[{"id":"PAJ0Y4V","type":"generic_events_api_inbound_integration_reference","summary":"Events
        API v1","self":"https://api.pagerduty.com/services/PC8O0L3/integrations/PAJ0Y4V","html_url":"https://apidocs.pagerduty.com/services/PC8O0L3/integrations/PAJ0Y4V"}],"response_play":null,"type":"service","summary":"Service
        a eaque non","self":"https://api.pagerduty.com/services/PC8O0L3","html_url":"https://apidocs.pagerduty.com/services/PC8O0L3"},{"id":"PX01HJD","name":"Service
        accusantium nisi voluptatem","description":"Total system-worthy open architecture","auto_resolve_timeout":14400,"acknowledgement_timeout":1800,"created_at":"2017-04-07T10:18:46-07:00","status":"active","last_incident_timestamp":null,"teams":[],"incident_urgency_rule":{"type":"constant[...]
