---
http_interactions:
- request:
    method: get
    uri: https://api.pagerduty.com/services?query=culpa
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token=[PAGERDUTY_TOKEN]
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - '"d91cb88e3a9396373c89d8b05fda4cfb"'
    body:
      encoding: ASCII-8BIT
      string: '{"services":[{"id":"P0M2F3M","name":"Service alias suscipit culpa","description":"Up-sized
        stable flexibility","auto_resolve_timeout":14400,"acknowledgement_timeout":1800,"created_at":"2017-04-07T10:19:28-07:00","status":"active","last_incident_timestamp":null,"teams":[],"incident_urgency_rule":{"type":"constant","urgency":"high"},"scheduled_actions":[],"support_hours":null,"escalation_policy":{"id":"P9OFD2O","type":"escalation_policy_reference","summary":"Default","self":"https://api.pagerduty.com/escalation_policies/P9OFD2O","html_url":"https://apidocs.pagerduty.com/escalation_policies/P9OFD2O"},"addons":[],"alert_creation":"create_incidents","alert_grouping":null,"alert_grouping_timeout":null,"integrations":[{"id":"PM5PQ9L","type":"generic_events_api_inbound_integration_reference","summary":"Events
        API v1","self":"https://api.pagerduty.com/services/P0M2F3M/integrations/PM5PQ9L","html_url":"https://apidocs.pagerduty.com/services/P0M2F3M/integrations/PM5PQ9L"}],"response_play":null,"type":"service","summary":"Service
        alias suscipit culpa","self":"https://api.pagerduty.com/services/P0M2F3M","html_url":"https://apidocs.pagerduty.com/services/P0M2F3M"},{"id":"PPM7MK3","name":"Service
        cumque ad culpa","description":"Balanced stable matrix","auto_resolve_timeout":14400,"acknowledgement_timeout":1800,"created_at":"2017-04-07T10:19:03-07:00","status":"active","last_incident_timestamp":null,"teams":[],"incident_urgency_rule":{"type":"constant","urgency":"high"[...]
